* {
    margin: 0;
}

body {
    background-image: url(fundo.png);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    border: 5px solid #F1E03F;
    background-color: #ffffff;
    border-radius: 30px;
    width: 470px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonEscolha {
    width: 200px;
    height:90px;
    background-color: black;
    border: 3px solid  #F1E03F;
    border-radius: 6px;
    color: #ffffff;
    transition: ease-out;
    transition-duration: 1s;
}

.buttonEscolha:hover {
    transform: translateY(-5px);
    background: none;
    background-color: #ffffff;
    color: #000000;
}

.voltar {
    position: absolute;
    width: 150px;
    height:50px;
    margin-left: 45px;
    margin-top: 45px;
    background: none;
    border: 3px solid  #F1E03F;
    border-radius: 6px;
    color: #ffffff;
    transition: ease-out;
    transition-duration: 1s;
}

.voltar:hover {
    transform: translateY(-5px);
    background: none;
    background-color: #ffffff;
    color: #000000;
}
/* li {
    color: #ffffff;
    display: inline;    
} */

/* .personagemBorder {
    border: 7px solid #000000;
    border-radius: 30px;
    width: 20vw;
    height: 50vh;
    background: none;
    padding-left: 300px;
} */

.escolhaAPI {
    margin-top: 30px;
    width: 30vw;
    height: 23vh;
    border: 6px solid #F1E03F;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.APIescolhida {
    width: 70vw;
    height: 80vh;
    border: 6px solid #F1E03F;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items:  center;
}

.APIescolhidaObiWan {
    width: 70vw;
    height: 110vh;
    border: 6px solid #F1E03F;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items:  center;
}

.APIescolhidaMillenium {
    width: 70vw;
    height: 110vh;
    border: 6px solid #F1E03F;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items:  center;
}

.APIescolhidaPlanetao{
    width: 70vw;
    height: 140vh;
    border: 6px solid #F1E03F;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items:  center;
}

.APIescolhidaCoruscant {
    width: 70vw;
    height: 95vh;
    border: 6px solid #F1E03F;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items:  center;
}

.APIescolhidaFilme1 {
    width: 70vw;
    height: 350vh;
    border: 6px solid #F1E03F;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items:  center;
}

.APIescolhidaFilme2 {
    width: 70vw;
    height: 380vh;
    border: 6px solid #F1E03F;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items:  center;
}

.APIescolhidaFilme3 {
    width: 70vw;
    height: 444vh;
    border: 6px solid #F1E03F;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items:  center;
}

.APIescolhidaFilme4 {
    width: 70vw;
    height: 540vh;
    border: 6px solid #F1E03F;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items:  center;
}

.APIescolhidaFilme5 {
    width: 70vw;
    height: 590vh;
    border: 6px solid #F1E03F;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items:  center;
}

.APIescolhidaFilme6 {
    width: 70vw;
    height: 670vh;
    border: 6px solid #F1E03F;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    align-items:  center;
}

.informationAPI {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.imgPersonagem {
    width: 20vw;
    height: 50vh;
    border: 7px solid #F1E03F;
    border-radius: 30px;
    background: none;
    margin-left: 300px;
}

.alignPersonagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: auto;
}

.showPersonagem {
    border: 7px solid #F1E03F;
    border-radius: 20px;
    width: 60vw;
    height: auto;
    margin-left: 18px;
    margin-top: 12px;
    display: flex;
    background: none;
    align-items: center;
}

.tituloAPI {
    color: #ffffff;
    font-size: 30px;
    margin-left: 7px;
    margin-top: 5px;
    background: none;
}

.textoAPI {
    color: #ffffff;
    font-size: 30px;
    margin-left: 7px;
    margin-top: 5px;
    background: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(12, 12, 12);
    border: 2px solid #F1E03F;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  li {
    float: left;
    font-size: 27px;    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(36, 36, 36);
  }

.leftMargin {
    display: flex;
    margin-left: 150px;
    margin-top: 120px;
    width: min-content;
    border: 7px solid #F1E03F;
    border-radius: 20px;
}

.leftBorder {
    border: 7px solid #000000;
    border-radius: 30px;
    width: 28vw;
    height: 60vh;
    
}

.rightBorder {
    border: 7px solid #000000;
    border-radius: 30px;
    width: 28vw;
    height: 60vh;
}

.mainTitles {
    color: #ffffff;
    
    margin-top: 50px;
    font-size: 55px;
}

.rightMargin {
    display: flex;
    margin-left: 500px;
    margin-top: 120px;
    width: min-content;
    border: 7px solid #F1E03F;
    border-radius: 20px;
}

.conteudo {
    height: 20vh;
    width: 30vw;
    display: flex;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.textLeft {
    color: #ffffff;
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
}

.textRight {
    color: #ffffff;
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
}

.informationLeft {
    width: 200px;
    height:70px;
    margin-top: 80px;
    background-color: black;
    border: 3px solid  #F1E03F;
    border-radius: 6px;
    color: #ffffff;
    transition: ease-out;
    transition-duration: 1s;
}

.informationLeft:hover {
    transform: translateY(-5px);
    background: none;
    background-color: #ffffff;
    color: #000000;
} 